<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h2 class="trendingTitle">Sign In</h2>
            <h4 class="accountSubTitle">Welcome back to Art Party. Don't have an account? <a class="otherFormInfoLinks" href="#/signup">Sign up here</a>.</h4>
        </div>
    </div>
    
    <div class="row">
        <!-- show a piece of art as a square and clickable for full -->
        <div class="col-sm-4 col-sm-offset-1 social-col">
            <div class="socialLoginInfo">
                Sign in quickly with your facebook account!
            </div>
            <button ng-click="facebookLogin()" type="submit" class="btn btn-social btn-fb">
                <div class="btn-socialIcon">
                    <i class="fa fa-facebook"></i>
                </div> FACEBOOK
            </button>
            <div class="buttonSpacer"></div>
        </div>
        <div class="col-sm-6">
            <form role="form" class="form-border-left">
                <div class="form-group">
                    <label class="formLabelArtprty" for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="email">
                </div>
                <div class="form-group">
                    <label class="formLabelArtprty" for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="pass">
                </div>
                <p ng-show="err" class="error">{{err}}</p>
                <button ng-click="login()" class="btn btn-artprty">SIGN IN</button>
                <div class="signInLinks">
                <a class="otherFormInfoLinks" href="#">Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>
