<div class="backContainer">
    <a href="#/objectives" style="color:white;">Back</a>
    <a href="#/home" style="float:right;margin-right:10px;color:white;">Logout {{user.attributes.username}}</a>
</div>
<div class="container">
    <!--
    <div style="text-align:center;color:white;">
        <h1>{{ objectiveName }}</h1>
    </div>
    -->
    <blockquote class="oval-speech-border" style="width: 200px;height: 92px;">
        <p style="font-size:14px;">{{ objective }}</p>
    </blockquote>
    <div style="text-align:center;">
        <img src="./img/bird.png"/>
    </div>
    <!--
    <div style="text-align:center;">
        <iframe width="280" height="165" ng-src="{{ video }}" frameborder="0" allowfullscreen></iframe>
    </div>
    -->
    <div class="objectiveHolder" style="margin-top:40px;">
        <button ng-click="completeTask()"class="btn btn-lg btn-healthybird">Complete!</button>
    </div>
</div>